<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="edu.sungil.foods.web.domain.AdminMapper">

	<insert id="insertMenu" parameterType="edu.sungil.foods.web.domain.dto.MenuInfo">
		INSERT INTO tb_menu( 
		   	menu_nm,
			menu_prc,
			menu_desc,
			menu_stock_qty,
			disp_yn,
			menu_img_nm)
			VALUES
			(
				#{menuNm},
				#{menuPrc},
				#{menuDesc},
				#{menuStockQty},
				#{menuDispYn},
				#{fileNm}
			
			)
			
	</insert>
   
</mapper>