<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="edu.sungil.foods.web.domain.AdminMapper">

	<insert id="insertMenu" parameterType="edu.sungil.foods.web.domain.dto.MenuInfo">
		INSERT INTO tb_menu( 
		   	menu_nm,
			menu_prc,
			menu_desc,
			menu_stock_qty,
			disp_yn,
			menu_img_nm)
			VALUES
			(
				#{menuNm},
				#{menuPrc},
				#{menuDesc},
				#{menuStockQty},
				#{menuDispYn},
				#{fileNm}
			
			)
			
	</insert>
	
	<select id="selectMenuList" resultType="edu.sungil.foods.web.domain.dto.MenuInfo" parameterType="edu.sungil.foods.web.domain.dto.SchMenuInfo">
		SELECT
			MENU_NO,
			MENU_NM,
			MENU_PRC,
			MENU_DESC,
			MENU_STOCK_QTY,
			DISP_YN AS menu_Disp_Yn,
			MENU_IMG_NM AS FILE_NM
		FROM TB_MENU 
		WHERE 1=1
		<if test="menuNo != '' and menuNo != null">
			and menu_no = #{menuNo}
		</if>
		<if test="menuNm != '' and menuNm != null">
			and menu_nm like CONCAT('%', #{menuNm}, '%')
		</if>
	</select>
	
	<update id="updateMenu" parameterType="edu.sungil.foods.web.domain.dto.MenuInfo">
		UPDATE TB_MENU 
			SET 
				MENU_NM=#{menuNm}, 
				MENU_PRC=#{menuPrc},
				MENU_DESC=#{menuDesc},
				MENU_STOCK_QTY=#{menuStockQty},
				DISP_YN = #{menuDispYn}
			WHERE
				MENU_NO = #{menuNo}
	</update>
   
</mapper>